div p {
  text-align: center;
}

div[data-role="header"] p a {
  color: white !important;
  text-decoration: none;
}

legend {
  font-weight: bold;
  font-size: 16pt;
}

label small {
  color: slategray;
}

