<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "org.bainbridgeyouthservices.askbys"
  version = "0.0.22">

  <name>askBYS</name>

  <description>
    askbys.org mobile app
  </description>

  <author href="http://askbys.org" email="askbys@bainbridgeyouthservices.org">
    Bainbridge Youth Services
  </author>

<icon src="images/icon.png" />
<splash src="images/splash.png" />

  <!-- iPhone 6 / 6+ -->
<icon src="images/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="images/icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="images/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="images/icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="images/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- Settings Icon -->
<icon src="images/icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="images/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- Spotlight Icon -->
<icon src="images/icon-40.png" gap:platform="ios" width="40" height="40" />
<icon src="images/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

<!-- iPhone / iPod Touch -->
<icon src="images/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="images/icon@2x.png" gap:platform="ios" width="114" height="114" />

<!-- iPad -->
<icon src="images/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="images/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

<!-- iPhone Spotlight and Settings Icon -->
<icon src="images/icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="images/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- iPad Spotlight and Settings Icon -->
<icon src="images/icon-50.png" gap:platform="ios" width="50" height="50" />
<icon src="images/icon-50@2x.png" gap:platform="ios" width="100" height="100" />


<icon src="ldpi.png" platform="android" qualifier="ldpi" />
<icon src="mdpi.png" platform="android" qualifier="mdpi" />
<icon src="hdpi.png" platform="android" qualifier="hdpi" />
<icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

<!-- Kirk Add's -->
<!-- Core plugins -->
<!--
<gap:plugin name="org.apache.cordova.battery-status" />
<gap:plugin name="org.apache.cordova.camera" />
<gap:plugin name="org.apache.cordova.media-capture" />
<gap:plugin name="org.apache.cordova.console" />
<gap:plugin name="org.apache.cordova.contacts" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.device-orientation" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.file" />
<gap:plugin name="org.apache.cordova.file-transfer" />
<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.globalization" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="org.apache.cordova.splashscreen" />
<gap:plugin name="org.apache.cordova.vibration" />

-->
<gap:plugin name="com.phonegap.plugin.statusbar" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<gap:plugin name="cordova-plugin-disable-nsapptransportsecurity" source="npm" />

<!-- Third party plugins -->

<feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
</feature>

<preference name="StatusBarOverlaysWebView" value="false" />

<!-- from here: https://github.com/jessemonroy650/top-phonegap-mistakes/blob/master/the-whitelist-system.md
 -->

<allow-navigation href="*" />
<allow-intent href="*" />
<access origin="*" /> <!-- Required for iOS9 -->

<!-- what are these? -->
<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/file" />


</widget>
